<div class="hero" style="background-image: url('/images/toronto.jpg');">
  <div id="mainInfo" class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="primary-lead lead">
          I'm a freelance full-stack web developer living in Toronto, Canada.
          Currently I focus on building <span class="tech-highlights">[rails|node|angular|html5]</span> 
          applications but I am always open to exciting new opportunities to help make a vision come to life!
        </p>
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      Downtown Toronto, by <a href="http://www.flickr.com/photos/sdharris/5357964450/" target="_blank">Steve Harris</a>
      <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" class="licence">
        <small>(by-nc-nd)</small>
      </a>
   </p>
  </div>
</div>
