<div class="hero" style="background-image: url('/images/toronto.jpg');">
  <div id="mainInfo" class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item four-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="primary-lead lead">
          I'm a freelance full-stack web developer from <span class="canada-eh">Toronto, Canada</span>. On an average day I can be found using <span class="tech-highlights">[rails|react|elixir|redux]</span> to build web applications, Chrome extensions, or mobile apps.
          I am always looking for new and exciting opportunities. Feel free to say hello!
        </p>
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      Downtown Toronto, by <a href="http://www.flickr.com/photos/sdharris/5357964450/" target="_blank">Steve Harris</a>
      <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" class="licence">
        <small>(by-nc-nd)</small>
      </a>
   </p>
  </div>
</div>
